*{
    font-family: $mainFont;
}
// mensaje superior

// se crea el mixin
@mixin mensajeSuperior ($t-right, $bgSticky, $colorWhite,$h-30 ){
    position:sticky;
    text-align: $t-right;
    background-color: $bgSticky;
    color: $colorWhite;
    height: $h-30;
}


// se aplica inlude dentro de la clase 
.msje{  
    @include mensajeSuperior(right, green , white , 30px)

}

 

//  navegador
div{
    nav{
        ul{
            li{
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                // color: black;
      
                &:hover{
                    
                    // text-decoration: underline; a :link, a:visited, a:active{
                    text-decoration:underline;
                   
                    color: $colorWhite;

                        }
                }
            }
        }
    }

  
 
a:link, a:visited, a:active {
    // text-decoration:underline;
    color: $colorWhite;
}

div{
    ul{
        
            text-decoration: none;
        
    }
}

// textos 
.text-center{
    text-align: $t-center;
}

.text-right{
    text-align: $t-right;
}

.text-left{
    text-align: $t-left;
}

.text-just{
    text-align: $t-justify;
}

.text-grey{
    color: $colorGrey;
}

.text-black{
    color: $colorBlack;
 }

.logo{
    
    width: $w-130;
    height: $h-130;
}

.logoFooter{
    width: $w-190;
    height: $h-190 ;
}

.bg-green{
    /* background-color: #286a4c; */
   background-image: linear-gradient(to left, rgb(122, 158, 105) , rgba(0, 255, 21, 0.142));
   
}

.titulosFooter{
    font-size: $f-20;
}

.bg-grey{
    background-color: $colorGrey;
}

.bgIcon{
    background-color: $bgColorBlack;
    text-align: $t-center;
    justify-content: space-around;
}

.bg-green{
    background-image: linear-gradient(to left, rgb(122, 158, 105) , rgba(0, 255, 21, 0.142));

}

.bg-LightGreen{
    background-color: $colorLightGreen;
}