// logo
 
// filtro de imagen en header
.imgheader{
    filter: contrast(70%);
    filter: brightness(70%);
    width: $w-100;
}

// propiedades de texto sobre imagen
.section{
   
    text-align: $t-center;
    align-items: center;

    font-size: $f-50;
   
     
}

// propiedades de la fuente de la imagen del header
.fontTextheader{
    color: $colorWhite;
    font-family: $secondaryFont;
}


// grid del main
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    align-items: center;
    
}

// bordes de la imagen del main
.mainImg{
    border-radius: 200px;
}

// main index propiedades
.main{
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: none;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    top: 18%;
    border-radius: 15px;

        main img{
            width: $w-100;
            height: $h-80-percent;   
            padding-left: 20px;
            
            
        }
    }

    div{
        p{
            margin: 5px;
            font-size: larger;
            
        }
    }

    //propiedades y animacion de banner 
.transitionText {
    transition: font-size 1s ease;
    -webkit-transition: font-size 1s ease;
 
      
    &:hover {
        font-size: $f-70;
        cursor: pointer;
    }
}

// fuente de la imagen con fuente animada
.fontFooter{
    font-family: $thirdFont ;
    font-size: $f-50;
    text-align: $t-center;
   
}

// propiedades de footer
.imgFooter{
    width: $w-100;
    height: $h-140;
}

 