// fonts
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Special Elite', Helvetica, sans-serif;



// colores

$bgColor: #286a4c;
$bgSticky: green;
$colorGrey: rgb(197, 191, 191);

// tamaño
$wth-100: width 100px;
$w-130: width 130px;

$height-130: 130px;
$height: 100px;


