// fonts
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Special Elite', Helvetica, sans-serif;
$thirdFont: 'Lobster', sans-serif;


//tamaño fonts
$f-20: 20px;
$f-30: 30px;
$f-50:   50px;
$f-70:   70px;


// colores

$bgColorGreen: #286a4c;
$bgSticky: green;
$colorGrey: rgb(197, 191, 191);
$bgColorBlack:  rgb(4, 4, 4);
$colorBlack:  rgb(34, 28, 28);
$colorGreen: rgb(17, 115, 17);
$colorWhite: rgb(255, 254, 254);



// tamaño
$w-auto:  auto;
$w-190:  190px;
$w-100:  100px;
$w-100-percent: 100%;
$w-130:  130px;
$w-40-percent:  40%;

$h-auto:  auto;
$h-190:  190px;
$h-140:  140px;
$h-130:  130px;
$h-100:  100px;
$h-80-percent:  80%;



//ubicacion texto
$t-center: center;
$t-right:  right;
$t-left:   left;
$t-justify: justify;

//main
 



